* {
    font-family: cursive;
    text-align: center;
    background-color: rgb(187, 187, 166);
    color: rgb(17, 29, 29);
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 40px;
}

p,
ol,
li {
    font-size: 25px;
}


